$light-teal: #B2DFDB;
$teal: #009688;
$black: #424242;
$white: #fff;
$light-red: #dfbdb2;
$magenta: #960053;
$dark-yellow: #966e00;

html {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

.dots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

  div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

    &:nth-child(2) {
      animation-delay: -0.5s;
    }
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.page {
  min-height: 100vh;

  &__header,
  &__content-wrapper {
    padding: 0 20px;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $light-teal;
    border-bottom: 2px solid $black;
    color: $black;
    font-size: 1.5rem;

    &__link {
      color: $black;
      text-decoration: none;
    }
  }

  &__content-wrapper {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
  }

  &__content {
    width: 100%;
    height: 100%;
  }
}

.films-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.film-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 3% 3% 0 0;

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__cover {
    max-width: 100%;
    flex-grow: 1;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    transition: box-shadow 200ms ease;
  }

  &__title-wrapper {
    max-width: 100%;
  }

  &__title {
    font-size: 1.66667rem;
  }

  &:hover {
    .film-item__cover {
      box-shadow: 0 10px 14px rgba(0, 0, 0, 0.6);
    }

    .film-item__title {
      text-decoration: underline;
    }
  }
}

.film-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  &__tr {

    &:hover {
      .table__td {
        background-color: $light-red;
      }
    }
  }

  &__th {
    background-color: $light-teal;
  }

  &__td {

  }

  &__th,
  &__td {
    padding: 4px;
    border-bottom: 1px solid $black;
    text-align: left;

    &.digits {
      text-align: right;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 8px 0;

  &__item {
    text-decoration: none;

    &:not(:first-child) {
      &:before {
        content: '/';
      }
    }
  }
}

.hall {
  width: 100%;

  &__row {
    width: 100%;

    &__title {
      font-size: 0.75rem;
    }
    &__seats {
      width: 100%;
      display: flex;
    }

    &:not(:first-of-type) {
      margin-top: 1%;
    }
  }

  &__seat {
    width: 8%;
    padding-top: 8%;
    background-color: $teal;
    color: $white;
    border-radius: 10%;
    margin-right: 2%;
    transition: all 200ms ease;
    position: relative;

    &.reserved {
      background-color: $magenta;
    }

    &.selected {
      background-color: $dark-yellow;
    }

    &:not(.reserved) {
      cursor: pointer;

      &:hover {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
      }
    }

    &__number {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
  }
}

.btn {
  padding: 8px 12px;
  border-radius: 4px;
  background-color: $teal;
  color: $white;
  cursor: pointer;
  transition: filter 200ms ease;

  &:hover {
    filter: brightness(1.1);
  }

  &:active {
    filter: brightness(0.9);
  }

  &.reserve-btn {
    margin-top: 8px;
  }
}

.tickets-reserve {
  &__tickets {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.reserved-ticket {
  position: relative;
  padding: 4px;
  background-color: $light-teal;
  margin-top: 4px;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 200ms ease;

  &:after {
    content: 'x';
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 100%;
    opacity: 0;
    border-radius: 2px;
    color: $white;
    background-color: $black;
    transition: opacity 200ms ease;
  }

  &:hover {
    transform: scale(1.05);

    &:after {
      opacity: 1;
    }
  }

  &:not(:last-of-type) {
    margin-right: 4px;
  }
}
